body, html {
  font-size: $baseFontSize;
}

body {
  font-family: 'Rubik', Arial, Helvetica sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.42;
  color: #fff;
  position: relative;
}

section {
  height: 100vh;
  position: relative;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  min-width: $baseWidth + 20px;
  position: relative;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: $baseWidth;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.block-wrapper {
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

ul {
  li {
    list-style: none;
  }
}
