$yellow: #FCDA28;
$orange: #FCB500;
$black: #111111;
$grey: #ADADAD;
$baseWidth: 1312px;
$baseFontSize: 18px;

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700&family=Open+Sans:wght@400;600;700&family=Rubik:wght@400;700&display=swap');
@import "latout";
@import "components/*";
@import "mixins";